{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="text-primary">{{'storedThing.allItemsInStore' | trans}}</h1>

    <div class="mb-5">
    {% for storedThing in storedThings %}
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">{{ storedThing.label }}</h5>
                <p class="card-text">{{ storedThing.description }}</p>
            </div>
            <div class="card-footer">
                {{'storedThing.baseAmountInStore' | trans({'baseAmount': storedThing.baseAmount})}}
            </div>
        </div>
    {% endfor %}
    </div>

    <div>
    <h1 class="text-primary">{{'storedThing.add.label' | trans}}</h1>
        {{ form(form) }}
    </div>

{% endblock %}
